<!DOCTYPE html>
<html lang="en">
<!-- BEGIN HEAD -->



<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1" name="viewport" />
	<meta name="description" content="Responsive Admin Template" />
	<meta name="author" content="SmartUniversity" />
	<title>MSA PORTAL</title>
	<!-- google font -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet" type="text/css" />
    <!-- icons -->
    <link href="fonts/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css" />
    <link href="fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    <link href="fonts/material-design-icons/material-icon.css" rel="stylesheet" type="text/css" />
    <!--bootstrap -->
    <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" media="screen" />
    <link href="assets/plugins/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css" rel="stylesheet" media="screen">
    <link href="assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css" rel="stylesheet" media="screen">
    <!-- Material Design Lite CSS -->
    <link rel="stylesheet" href="assets/plugins/material/material.min.css">
    <link rel="stylesheet" href="assets/css/material_style.css">
    <!-- Theme Styles -->
    <link href="assets/css/theme/light/theme_style.css" rel="stylesheet" id="rt_style_components" type="text/css" />
    <link href="assets/css/theme/light/style.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/plugins.min.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/pages/formlayout.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/responsive.css" rel="stylesheet" type="text/css" />
    <link href="assets/css/theme/light/theme-color.css" rel="stylesheet" type="text/css" />
    <!-- dropzone -->
    <link href="assets/plugins/dropzone/dropzone.css" rel="stylesheet" media="screen">
    <!--tagsinput-->
    <link href="assets/plugins/jquery-tags-input/jquery-tags-input.css" rel="stylesheet">
    <!--select2-->
    <link href="assets/plugins/select2/css/select2.css" rel="stylesheet" type="text/css" />
    <link href="assets/plugins/select2/css/select2-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <!-- favicon -->
    <link rel="shortcut icon" href="http://radixtouch.in/templates/admin/smart/source/assets/img/favicon.ico" />
</head>
<!-- END HEAD -->

<body class="page-header-fixed program-creation sidemenu-closed-hidelogo page-content-white page-md header-white white-sidebar-color logo-indigo">
	<div class="page-wrapper">
		<!-- start header -->
		<div class="page-header navbar navbar-fixed-top">
			<div class="page-header-inner ">
				<!-- logo start -->
				<div class="page-logo">
					<a href="index-2.html">
						<span class="logo-icon material-icons"><img src="images/logo-icon.png"></span>
						<span class="logo-default"><img src="images/logo.png"></span> </a>
				</div>
				<!-- logo end -->
				<ul class="nav navbar-nav navbar-left in">
					<li><a href="#" class="menu-toggler sidebar-toggler"><i class="icon-menu"></i></a></li>
				</ul>
				
				<!-- start mobile menu -->
				<a href="javascript:;" class="menu-toggler responsive-toggler" data-toggle="collapse" data-target=".navbar-collapse">
					<span></span>
				</a>
				<!-- end mobile menu -->
				<!-- start header menu -->
				<div class="top-menu">
					<ul class="nav navbar-nav pull-right">
						<li><a href="javascript:;" class="fullscreen-btn"><i class="fa fa-arrows-alt"></i></a></li>
												<!-- start notification dropdown -->
						<li class="dropdown dropdown-extended dropdown-notification" id="header_notification_bar">
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<i class="fa fa-bell-o"></i>
								<span class="badge headerBadgeColor1"> 6 </span>
							</a>
							<ul class="dropdown-menu">
								<li class="external">
									<h3><span class="bold">Notifications</span></h3>
									<span class="notification-label purple-bgcolor">New 6</span>
								</li>
								<li>
									<ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
										<li>
											<a href="javascript:;">
												<span class="time">just now</span>
												<span class="details">
													<span class="notification-icon circle deepPink-bgcolor"><i class="fa fa-check"></i></span>
													Congratulations!. </span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="time">3 mins</span>
												<span class="details">
													<span class="notification-icon circle purple-bgcolor"><i class="fa fa-user o"></i></span>
													<b>John Micle </b>is now following you. </span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="time">7 mins</span>
												<span class="details">
													<span class="notification-icon circle blue-bgcolor"><i class="fa fa-comments-o"></i></span>
													<b>Sneha Jogi </b>sent you a message. </span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="time">12 mins</span>
												<span class="details">
													<span class="notification-icon circle pink"><i class="fa fa-heart"></i></span>
													<b>Ravi Patel </b>like your photo. </span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="time">15 mins</span>
												<span class="details">
													<span class="notification-icon circle yellow"><i class="fa fa-warning"></i></span> Warning! </span>
											</a>
										</li>
										<li>
											<a href="javascript:;">
												<span class="time">10 hrs</span>
												<span class="details">
													<span class="notification-icon circle red"><i class="fa fa-times"></i></span> Application error. </span>
											</a>
										</li>
									</ul>
									<div class="dropdown-menu-footer">
										<a href="javascript:void(0)"> All notifications </a>
									</div>
								</li>
							</ul>
						</li>
						<!-- end notification dropdown -->
						<!-- start message dropdown -->
						<li class="dropdown dropdown-extended dropdown-inbox" id="header_inbox_bar">
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<i class="fa fa-envelope-o"></i>
								<span class="badge headerBadgeColor2"> 2 </span>
							</a>
							<ul class="dropdown-menu">
								<li class="external">
									<h3><span class="bold">Messages</span></h3>
									<span class="notification-label cyan-bgcolor">New 2</span>
								</li>
								<li>
									<ul class="dropdown-menu-list small-slimscroll-style" data-handle-color="#637283">
										<li>
											<a href="#">
												<span class="photo">
													<img src="assets/img/prof/prof2.jpg" class="img-circle" alt=""> </span>
												<span class="subject">
													<span class="from"> Sarah Smith </span>
													<span class="time">Just Now </span>
												</span>
												<span class="message"> Jatin I found you on LinkedIn... </span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="photo">
													<img src="assets/img/prof/prof3.jpg" class="img-circle" alt=""> </span>
												<span class="subject">
													<span class="from"> John Deo </span>
													<span class="time">16 mins </span>
												</span>
												<span class="message"> Fwd: Important Notice Regarding Your Domain Name... </span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="photo">
													<img src="assets/img/prof/prof1.jpg" class="img-circle" alt=""> </span>
												<span class="subject">
													<span class="from"> Rajesh </span>
													<span class="time">2 hrs </span>
												</span>
												<span class="message"> pls take a print of attachments. </span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="photo">
													<img src="assets/img/prof/prof8.jpg" class="img-circle" alt=""> </span>
												<span class="subject">
													<span class="from"> Lina Smith </span>
													<span class="time">40 mins </span>
												</span>
												<span class="message"> Apply for Ortho Surgeon </span>
											</a>
										</li>
										<li>
											<a href="#">
												<span class="photo">
													<img src="assets/img/prof/prof5.jpg" class="img-circle" alt=""> </span>
												<span class="subject">
													<span class="from"> Jacob Ryan </span>
													<span class="time">46 mins </span>
												</span>
												<span class="message"> Request for leave application. </span>
											</a>
										</li>
									</ul>
									<div class="dropdown-menu-footer">
										<a href="#"> All Messages </a>
									</div>
								</li>
							</ul>
						</li>
						<!-- end message dropdown -->
						<!-- start manage user dropdown -->
						<li class="dropdown dropdown-user">
							<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true">
								<img alt="" class="img-circle " src="assets/img/dp.jpg" />
								<span class="username username-hide-on-mobile"> Kiran </span>
								<i class="fa fa-angle-down"></i>
							</a>
							<ul class="dropdown-menu dropdown-menu-default">
								<li>
									<a href="user_profile.html">
										<i class="icon-user"></i> Profile </a>
								</li>
								<li>
									<a href="#">
										<i class="icon-settings"></i> Settings
									</a>
								</li>
								<li>
									<a href="#">
										<i class="icon-directions"></i> Help
									</a>
								</li>
								<li class="divider"> </li>
								<li>
									<a href="lock_screen.html">
										<i class="icon-lock"></i> Lock
									</a>
								</li>
								<li>
									<a href="login.html">
										<i class="icon-logout"></i> Log Out </a>
								</li>
							</ul>
						</li>
						<!-- end manage user dropdown -->
						
					</ul>
				</div>
			</div>
		</div>
		<!-- end header -->
		<!-- start color quick setting -->
		<div class="quick-setting-main">
			<button class="control-sidebar-btn btn" data-toggle="control-sidebar"><i class="fa fa-cog fa-spin"></i></button>
			
		</div>
		<!-- end color quick setting -->
		<!-- start page container -->
		<div class="page-container">
			<!-- start sidebar menu -->
			<div class="sidebar-container">
				<div class="sidemenu-container navbar-collapse collapse fixed-menu">
					<div id="remove-scroll" class="left-sidemenu">
						<ul class="sidemenu  page-header-fixed slimscroll-style" data-keep-expanded="false" data-auto-scroll="true"
						 data-slide-speed="200" style="padding-top: 20px">
							<li class="sidebar-toggler-wrapper hide">
								<div class="sidebar-toggler">
									<span></span>
								</div>
							</li>
							<li class="sidebar-user-panel">
								<div class="user-panel">
									<div class="pull-left image">
										<img src="assets/img/dp.jpg" class="img-circle user-img-circle" alt="User Image" />
									</div>
									<div class="pull-left info">
										<p> Kiran Patel</p>
										<a href="#"><i class="fa fa-circle user-online"></i><span class="txtOnline"> Online</span></a>
									</div>
								</div>
							</li>
							<li class="nav-item start ">
								<a href="#" class="nav-link nav-toggle">
									<i class="material-icons">dashboard</i>
									<span class="title">Dashboard</span>
									
								</a>
								
							</li>
							<li class="nav-item active open">
								<a href="program-management.html" class="nav-link nav-toggle"> <i class="material-icons">event</i>
									<span class="title">Program Management</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="session-management.html" class="nav-link nav-toggle"> <i class="material-icons">person</i>
									<span class="title">Session Management</span>
								</a>
								
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"><i class="material-icons">group</i>
									<span class="title">Calendar Management</span></a>
								
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i class="material-icons">school</i>
									<span class="title">Child Management</span>
									
								</a>
								
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i class="material-icons">local_library</i>
									<span class="title">Attendance Management</span>
								</a>
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i class="material-icons">business</i>
									<span class="title">Assessment Management</span>
								</a>
								
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i class="material-icons">face</i>
									<span class="title">Venue Management</span>
								</a>
								
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i class="material-icons">airline_seat_individual_suite</i>
									<span class="title">Coach/Staff Management</span>
								</a>
								
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle">
									<i class="material-icons">email</i>
									<span class="title">Company Overview</span>
									
								</a>
								
							</li>
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle"> <i class="material-icons">monetization_on</i>
									<span class="title">Business Projections</span>
								</a>
								
							</li>
							<li class="nav-item">
								<a href="widget.html" class="nav-link nav-toggle"> <i class="material-icons">widgets</i>
									<span class="title">General Settings</span>
								</a>
							</li>
							
							<li class="nav-item">
								<a href="#" class="nav-link nav-toggle">
									<i class="material-icons">store</i>
									<span class="title">Log out</span>
									
								</a>
								
							</li>
						</ul>
					</div>
				</div>
			</div>
			<!-- end sidebar menu -->
			<!-- start page content -->
			<div class="page-content-wrapper">
				<div class="page-content">
					<div class="page-bar">
						<div class="page-title-breadcrumb">
							<div class="row">
								<div class="col-md-3">
								<div class="page-title">PROGRAMME CREATION</div>
							</div>
							<div class="col-md-6">
								
							</div>
							<div class="col-md-3">
								
							</div>
							</div>
							
						</div>
					</div>
					
					<div class="row">
						<div class="col-sm-12">
							<form>
								<div class="row">
									<div class="col-md-6">
										<div class="row">
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" placeholder="Enter Program Name">
										</div>
										<div class="col-md-6 col-sm-6">
											<select class="form-control">
													<option>Select Club</option>
													<option>Swim Club</option>
													<option>Football Club</option>
													<option>Netball Club</option>
													<option>Holiday Camp</option>
													<option>Tri Club</option>
												</select>
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" placeholder="10 Session Card cost">
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" placeholder="Enter Annual Reg. Fee">
										</div>
										<div class="col-md-6 col-sm-6">
											<input type="text" class="form-control" placeholder="Competition Fee">
										</div>
									</div>
									</div>
									<div class="col-md-6">
										<div class="row">
											<div class="col-md-5 col-sm-5">
											<input type="text" class="form-control" placeholder="No.Sessions p/wk">
										    </div>
										    <div class="col-md-5 col-sm-5">
											<input type="text" class="form-control" placeholder="Cost per sessions">
										    </div>
										    <div class="col-md-2 col-sm-2">
											<button type="button" class="btn yellow btn-outline btn-circle m-b-10">ADD</button>
										    </div>
										</div>	
										<div class="row">
											<div class="col-md-5 col-sm-5">
											<p>5</p>
										    </div>
										    <div class="col-md-5 col-sm-5">
											<p>500</p>
										    </div>
										    <div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)" class="" data-toggle="tooltip" title="Delete">
						<i class="fa fa-remove icon-remove"></i>
						</a>
										    </div>
										</div>

										<div class="row">
											<div class="col-md-5 col-sm-5">
											<p>5</p>
										    </div>
										    <div class="col-md-5 col-sm-5">
											<p>500</p>
										    </div>
										    <div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)" class="" data-toggle="tooltip" title="Delete">
						<i class="fa fa-remove icon-remove"></i>
						</a>
										    </div>
										</div>

										<div class="row">
											<div class="col-md-5 col-sm-5">
											<p>5</p>
										    </div>
										    <div class="col-md-5 col-sm-5">
											<p>500</p>
										    </div>
										    <div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)" class="" data-toggle="tooltip" title="Delete">
						<i class="fa fa-remove icon-remove"></i>
						</a>
										    </div>
										</div>

										<div class="row">
											<div class="col-md-5 col-sm-5">
											<p>5</p>
										    </div>
										    <div class="col-md-5 col-sm-5">
											<p>500</p>
										    </div>
										    <div class="col-md-2 col-sm-2">
											<a href="javascript:void(0)" class="" data-toggle="tooltip" title="Delete">
						<i class="fa fa-remove icon-remove"></i>
						</a>
										    </div>
										</div>

									</div>
								</div>
								<div class="gap"></div>
								

							</form>
						</div>
					</div>
					<div class="row">
						<div class="col-md-12">
						<div class="heading"><h3>Add Level to the Program</h3></div>
						</div>

					</div>
					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-2">
						<input type="text" class="form-control" placeholder="Enter Level Name">
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-2">
						<input type="text" class="form-control" placeholder="Enter Capacity">
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-1">
						<input type="text" class="form-control" placeholder="Min.Age">
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-1">
						<input type="text" class="form-control" placeholder="Max.Age">
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-2">
						<input type="text" class="form-control" placeholder="Duration(in minutes">
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-2">
						<form id="my-awesome-dropzone" action="/target" class="dropzone form-horizontal dz-clickable"><div class="dz-default dz-message"><span>upload File</span></div></form>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-1">
						<div id="colorinput2" class="input-group colorpicker-component col-md-8 colorpicker-element">
                         <span class="input-group-addon"><i style="background-color: rgb(230, 25, 199);"></i></span>
                         </div>
                         </div>
                         <div class="col-lg-1 col-md-1 col-sm-1 col-1">
						<button type="button" class="btn yellow btn-outline btn-circle m-b-10">ADD</button>
						</div>
					</div>

					<div class="row">
						<div class="col-lg-2 col-md-2 col-sm-2 col-2">
						<p>Perk Pink</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-2">
						<p>2</p>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-1">
						<p>0</p>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-1">
						<p>0</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-2">
						<p>30 mins</p>
						</div>
						<div class="col-lg-2 col-md-2 col-sm-2 col-2">
						<p>Perkpinkycriteria.pdf</p>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-1">
						<div id="colorinput2" class="input-group colorpicker-component col-md-8 colorpicker-element">
                         <span class="input-group-addon"><i style="background-color: rgb(230, 25, 199);"></i></span>
                         </div>
                         </div>
                         <div class="col-lg-1 col-md-1 col-sm-1 col-1">
                         	<a href="javascript:void(0)" class="" data-toggle="tooltip" title="Delete">
						<i class="fa fa-remove icon-remove"></i>
						</a>
						
						</div>
					</div>	

					<div class="row">
						<div class="col-lg-1 col-md-1 col-sm-1 col-1">
						<button type="button" class="btn btn-circle btn-warning black">BACK</button>
						</div>
						<div class="col-lg-1 col-md-1 col-sm-1 col-1">
						<button type="button" class="btn btn-circle btn-warning ">SAVE PROGRAM</button>
						</div>

					</div>



			<!-- end chat sidebar -->
		</div>
		<!-- end page container -->
		<!-- start footer -->
		<div class="page-footer">
			<div class="page-footer-inner">MSA HUB | 
				<a href="adinstudios.net" target="_blank" class="makerCss">ADIN STUDIOS</a>
			</div>
			<div class="scroll-to-top">
				<i class="icon-arrow-up"></i>
			</div>
		</div>
		<!-- end footer -->
	</div>
	 <!-- start js include path -->
    <script src="assets/plugins/jquery/jquery.min.js"></script>
    <script src="assets/plugins/popper/popper.js"></script>
    <script src="assets/plugins/jquery-blockui/jquery.blockui.min.js"></script>
    <script src="assets/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>
    <!-- bootstrap -->
    <script src="assets/plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/plugins/bootstrap-switch/js/bootstrap-switch.min.js"></script>
    <script src="assets/plugins/bootstrap-inputmask/bootstrap-inputmask.min.js"></script>
    <script src="assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.js" charset="UTF-8"></script>
    <script src="assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker-init.js" charset="UTF-8"></script>
    <script src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js" charset="UTF-8"></script>
    <script src="assets/plugins/bootstrap-datetimepicker/js/bootstrap-datetimepicker-init.js" charset="UTF-8"></script>
    <!-- Common js-->
    <script src="assets/js/app.js"></script>
    <script src="assets/js/layout.js"></script>
    <script src="assets/js/theme-color.js"></script>
    <!-- Material -->
    <script src="assets/plugins/material/material.min.js"></script>
    <!-- dropzone -->
    <script src="assets/plugins/dropzone/dropzone.js"></script>
    <!--tags input-->
    <script src="assets/plugins/jquery-tags-input/jquery-tags-input.js"></script>
    <script src="assets/plugins/jquery-tags-input/jquery-tags-input-init.js"></script>
    <!--select2-->
    <script src="assets/plugins/select2/js/select2.js"></script>
    <script src="assets/js/pages/select2/select2-init.js"></script>
    <!-- end js include path -->
</body>



</html>